.header {
  display: flex;
  height: 60px;
  justify-content: space-between;
  flex-direction: row;
  position: fixed;
  left: 5px;
  right: 5px;
  top: 0;
  background-color: white;
  align-items: center;
}
.home {
  color: black;
  font-weight: bold;
  font-size: 24px;
  height: 30px;
  text-decoration: none;
}
.home:hover {
  color: rgba(0, 0, 0, 0.72);
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.72);
  cursor: pointer;
}
.home:active {
  color: black;
  text-decoration: none;
}
.input {
  border-radius: 11px;
  border-width: 1px;
  width: 400px;
  height: 30px;
  padding-left: 10px;
}
.cart {
  background-color: black;
  color: white;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  width: 50px;
  height: 30px;
  box-shadow: 2px 6px 4px rgba(0, 0, 0, 0.81);
  transition: 100ms;
}
.cart:hover {
  background-color: rgba(0, 0, 0, 0.78);
  color: white;
}
.cart:active {
  background-color: black;
  margin-left: 2px;
  margin-top: 6px;
  box-shadow: 0 0 0;
}
.grid {
  display: grid;
  margin-top: 70px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media (max-width: 619px){
  .grid {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 620px) and (max-width: 950px){
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 951px) and (max-width: 1250px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1251px) and (max-width: 1600px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1601px) and (max-width: 1899px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1900px) and (max-width: 2199px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 2200px) and (max-width: 2499px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 2500px){
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
.div-device-image{
  text-align: center;
}
.addition-info,
.div-device-name {
  text-align: center;
  color: rgba(0, 0, 0, 0.64);
}
.device-image {
  width: 200px;
  height: 200px;
  cursor: pointer;
}
.div-device-name {
  font-size: 24px;
  font-weight: bold;
  color: #076472;
}
.addition-info {
  font-size: 20px;
}
.device-price {
  color: green;
}
.in-stock-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}